a {
    text-decoration: none;
    color: black;
}

ul {
    height: 80%;
    margin: 1%;
    padding: 2%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.head-foot {
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 209, 157);
}

.contacts-container {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a.icons-link {
    width: 6%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    width: 60%;
}  

.logo-container {
    height: 100%;
    margin-left: 3%;
    text-align: center;
}

.logo {
    height: 90%;
    width: 100%;
}

main {
    position: relative;
    height: 80vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Comforter", cursive, sans-serif;
    font-weight: 400;
    font-size: 18pt;
    font-style: normal;
    color: black;
}

main::before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background-image: url("assets/background-main.webp");
    position: absolute;
    z-index: -1;
    top: 0; left: 0; right: 0; bottom: 0;
}

h1 {
    margin: 0%;
    padding-top: 2%;
}

h2 {
    font-size: 20pt;
    margin: 0%;
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

nav {
    width: 20%;
}

.gallery {
    width: 80%;
    border: 1px solid red;
}