
.head-foot {
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 209, 157);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.contacts-container {
    box-sizing: border-box;
    width: 50%;
    /* height: 100%; */
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid green; */
}

a.icons-link {
    width: 5%;
    padding: 5% 2%;
    /* border: 1px solid violet; */
}

.icons {
    box-sizing: border-box;
    width: 100%;
}

.logo-container {
    width: 50%;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.logo {
    width: 20%;
    padding: 1% 3%;
}

