* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #fffefe;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
}

.first-line {
  margin: 20px 5%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "logo navigation city";
  align-items: center;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(1rem, 1.3vw, 2.5rem);
  color: #c3b9b5;
}
.first-line .logo-container-header {
  grid-area: logo;
  width: 30%;
}
.first-line .logo-container-header .logo {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.first-line .header-nav {
  grid-area: navigation;
}
.first-line .header-nav .nav-list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-items: start;
}
.first-line .city-header {
  grid-area: city;
  width: 100%;
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.first-line .city-header .address-icon-header-wrap {
  max-width: 20%;
}
.first-line .city-header .address-icon-header-wrap .address-icon-header {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.first-line .city-header .city {
  border: none;
  background-color: #fffefe;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  color: #ffc59e;
}

.page-nav-header-banner {
  margin-top: 5%;
  margin-left: 4.5%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.page-nav-header-banner .page-nav {
  max-height: 90%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: auto;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(1rem, 1.3vw, 2.5rem);
  color: #c3b9b5;
}
.page-nav-header-banner .header-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.page-nav-header-banner .header-banner .left-header-banner {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
}
.page-nav-header-banner .header-banner .left-header-banner .title {
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: start;
  color: #080606;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(2.5rem, 5vw, 8rem);
  line-height: 137.5%;
}
.page-nav-header-banner .header-banner .left-header-banner .appointment-form-link {
  margin-bottom: 20%;
  width: 35%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1vw;
  border-radius: 2rem;
  background: #ffc59e;
  box-shadow: 0px 4px 20px 0px #ffc59e;
}
.page-nav-header-banner .header-banner .left-header-banner .social-links {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.page-nav-header-banner .header-banner .left-header-banner .social-links .social-link {
  width: 50%;
}
.page-nav-header-banner .header-banner .left-header-banner .social-links .social-link .social-icon {
  width: 100%;
  height: 100%;
  max-width: 310px;
}
.page-nav-header-banner .header-banner .right-header-banner {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  grid-auto-rows: auto;
  justify-items: end;
}
.page-nav-header-banner .header-banner .right-header-banner .header-banner-img-container1 {
  grid-row: 1/4;
  grid-column: 2/4;
  width: 93%;
}
.page-nav-header-banner .header-banner .right-header-banner .header-banner-img-container1 .header-banner-img1 {
  width: 100%;
}
.page-nav-header-banner .header-banner .right-header-banner .header-banner-img-container2 {
  grid-row: 2/4;
  grid-column: 1/3;
  width: 70%;
  justify-self: center;
}
.page-nav-header-banner .header-banner .right-header-banner .header-banner-img-container2 .header-banner-img2 {
  width: 80%;
}
.page-nav-header-banner .header-banner .right-header-banner .phone-link {
  grid-row: 3/4;
  grid-column: 3/4;
  align-self: center;
  margin-bottom: 40%;
  margin-right: 10%;
  width: 100%;
  color: #59443f;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1.2vw;
}

.dep-cards {
  margin: 8% 15% 8% 13%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: 34px;
}
.dep-cards .dep-card {
  padding-left: 10px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  border-radius: 20px;
  background: #fff;
  box-shadow: 3px 3px 10px rgb(215, 213, 213);
}
.dep-cards .dep-card .dep-card-title {
  grid-row: 1/2;
  grid-column: 1/3;
  color: #59443f;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  line-height: 133.333%;
}
.dep-cards .dep-card .dep-image {
  grid-row: 2/4;
  grid-column: 2/3;
  width: 90%;
  max-width: 100px;
  justify-self: center;
}
.dep-cards .dep-card .dep-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.dep-cards .dep-card .dep-card-span {
  grid-row: 3/4;
  grid-column: 1/2;
  padding-bottom: 30%;
  color: #59443f;
  font-size: clamp(0.5rem, 0.9vw, 2rem);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 100%;
}

.history-employees {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #fbf8f8;
  text-align: center;
}
.history-employees .history-section {
  margin: auto;
}
.history-employees .history-section .subtitle {
  padding-bottom: 40px;
  color: #080606;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 100%;
  font-size: clamp(2rem, 3vw, 4rem);
}
.history-employees .history-section p {
  margin: auto;
  padding-bottom: 30px;
  width: 40%;
  text-align: left;
  color: #59443f;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(1rem, 1.3vw, 2.5rem);
  line-height: 150%;
}
.history-employees .employees {
  padding-top: 5%;
}
.history-employees .employees .subtitle {
  padding-bottom: 40px;
  color: #080606;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 100%;
  font-size: clamp(2rem, 3vw, 4rem);
}
.history-employees .employees .employees-slider {
  margin: auto;
  padding-bottom: 30px;
  max-width: 90%;
  display: grid;
  grid-template-columns: auto repeat(6, auto) auto;
  gap: 10px;
}
.history-employees .employees .employees-slider .button-slider {
  border: none;
  width: 70%;
  background-color: #fbf8f8;
}
.history-employees .employees .employees-slider .button-slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.history-employees .employees .employees-slider .button-slider1 {
  justify-self: end;
}
.history-employees .employees .employees-slider .button-slider1 img {
  margin-right: -50%;
}
.history-employees .employees .employees-slider .button-slider2 {
  justify-self: end;
}
.history-employees .employees .employees-slider .button-slider2 img {
  margin-left: -130%;
}
.history-employees .employees .employees-slider .photo-link {
  width: 100%;
}
.history-employees .employees .employees-slider .photo-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.read-more {
  color: #ffc59e;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(1rem, 1.3vw, 2.5rem);
}

.inform-banner {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}
.inform-banner .inform-banner-wrap {
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  position: relative;
}
.inform-banner .inform-banner-wrap #inform-subtitle {
  margin-bottom: 8%;
  color: #59443f;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(5rem, 8vw, 10rem);
  line-height: 76.389%;
}
.inform-banner .inform-banner-wrap .inform-p {
  padding-left: 5%;
  text-align: left;
  color: #080606;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 2.8vw;
  line-height: 150%;
}
.inform-banner .inform-banner-wrap .inform-img-container {
  width: 50%;
  margin: -10%;
  position: relative;
  left: 55%;
  margin-bottom: 10%;
}
.inform-banner .inform-banner-wrap .inform-img-container img {
  width: 100%;
}

.pro-cards-section {
  margin-bottom: 10%;
}
.pro-cards-section .subtitle {
  padding-bottom: 7%;
  text-align: center;
  color: #080606;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 100%;
  font-size: clamp(2rem, 3vw, 4rem);
}
.pro-cards-section .pro-cards {
  width: 85vw;
  margin: 0% 12.5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 25vw));
  justify-content: center;
  gap: 40px;
}
.pro-cards-section .pro-cards .pro-card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(3, auto);
  gap: 5%;
  grid-template-areas: "title title" "img-container description";
  align-items: start;
}
.pro-cards-section .pro-cards .pro-card .pro-card-title {
  grid-area: title;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  color: #59443f;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 133.333%;
}
.pro-cards-section .pro-cards .pro-card .pro-img-container {
  grid-area: img-container;
  width: 5vw;
}
.pro-cards-section .pro-cards .pro-card .pro-img-container img {
  width: 100%;
}
.pro-cards-section .pro-cards .pro-card .pro-card-description {
  grid-area: description;
}

.description {
  color: #59443f;
  font-size: clamp(1rem, 1.3vw, 2.5rem);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 150%;
}

.app-store-banner {
  padding: 10% 5% 5% 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  align-items: start;
  background-color: #ffc59e;
  color: #fff;
}
.app-store-banner .app-store-banner-span {
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 66.667%;
}
.app-store-banner .title-app-links {
  grid-row: 2/3;
  grid-column: 1/2;
}
.app-store-banner .title-app-links #app-store-banner-title {
  width: 110%;
  font-size: clamp(2.5rem, 5vw, 8rem);
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 137.5%;
}
.app-store-banner .title-app-links .app-store-links {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.app-store-banner .title-app-links .app-store-links .app-store-link {
  width: 90%;
}
.app-store-banner .title-app-links .app-store-links .app-store-link .app-store-icon1 {
  width: 91%;
}
.app-store-banner .title-app-links .app-store-links .app-store-link .app-store-icon2 {
  width: 100%;
}
.app-store-banner .app-store-pics {
  grid-row: 2/4;
  grid-column: 2/3;
  align-self: end;
  position: relative;
  width: 80%;
}
.app-store-banner .app-store-pics .dog-img {
  margin-top: 15%;
  width: 80%;
  position: relative;
  right: 15%;
}
.app-store-banner .app-store-pics .phone-img {
  width: 65%;
  position: absolute;
  bottom: -6%;
  left: 35%;
}

.contacts-banner {
  margin: 10% 5% 5% 15%;
}
.contacts-banner .subtitle {
  margin-bottom: 5%;
  color: #080606;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 100%;
  font-size: clamp(2rem, 3vw, 4rem);
}
.contacts-banner .address-container-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "address1 map" "address2 map";
}
.contacts-banner .address-container-wrapper .address-container-subtitle {
  margin-bottom: 5%;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  line-height: 133.333%;
}
.contacts-banner .address-container-wrapper .address-container1 {
  grid-area: address1;
}
.contacts-banner .address-container-wrapper .address-container2 {
  grid-area: address2;
}
.contacts-banner .address-container-wrapper .map-link-container {
  grid-area: map;
  width: 100%;
}
.contacts-banner .address-container-wrapper .map-link-container .map-link {
  display: block;
  width: 100%;
}
.contacts-banner .address-container-wrapper .map-link-container .map-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.address-container1 .description,
.address-container2 .description {
  font-size: clamp(0.5rem, 0.9vw, 2rem);
}

.address-phone-hours {
  width: 60%;
  display: grid;
  justify-items: start;
  gap: 10px;
}

.address,
.phone,
.hours {
  display: grid;
  grid-auto-flow: column;
}

.address-icon,
.phone-icon,
.clock-icon {
  width: 60%;
}

footer {
  padding: 1% 7%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: #fff;
  background-color: #59443f;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(0.5rem, 0.9vw, 2rem);
}
footer .logo-and-nav-footer {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
footer .logo-and-nav-footer .logo-container-footer {
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: min-content;
  grid-template-areas: "logo name" "logo subname";
}
footer .logo-and-nav-footer .logo-container-footer img {
  margin-right: 10%;
  grid-area: logo;
  width: 80%;
  align-self: center;
  justify-self: end;
}
footer .logo-and-nav-footer .logo-container-footer .name {
  grid-area: name;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(1rem, 2.5vw, 3rem);
  justify-self: start;
  align-self: end;
}
footer .logo-and-nav-footer .logo-container-footer .subname {
  grid-area: subname;
  line-height: 100%;
  align-self: start;
}
footer .logo-and-nav-footer nav .footer-nav-list {
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  line-height: 150%;
}
footer .logo-and-nav-footer nav .footer-nav-list li:first-child {
  grid-column: 1/2;
  grid-row: span 4;
  margin-right: 25%;
}
footer .logo-and-nav-footer nav .footer-nav-list li.second-col {
  grid-column: 2/3;
  grid-row: auto;
}
footer .logo-and-nav-footer nav .footer-nav-list li.third-col {
  grid-column: 3/4;
}
footer .social-and-apps {
  width: 80%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: min-content;
}
footer .social-and-apps .apps {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
footer .social-and-apps .apps .app-link-footer {
  width: 100%;
}
footer .social-and-apps .apps .app-link-footer .app-store-foot {
  width: 88%;
}
footer .social-and-apps .apps .app-link-footer .google-play-foot {
  width: 100%;
}
footer .social-and-apps .social-links-foot {
  display: flex;
  justify-content: space-between;
}
footer .social-and-apps .social-links-foot .social-link-foot {
  width: 10%;
}
footer .social-and-apps .social-links-foot .social-link-foot img {
  width: 100%;
}
footer .social-and-apps .creator-contacts {
  display: grid;
  grid-auto-rows: min-content;
  align-self: start;
}
footer .social-and-apps .made_by {
  align-self: center;
}/*# sourceMappingURL=style.css.map */