@import "vars.scss";
@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: $main-background-color;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
}

.first-line {
  margin: 20px 5%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "logo navigation city";
  align-items: center;
  @include font-jost-700;
  font-size: $font-size-regular;
  color: $font-light-brown;

  .logo-container-header {
    grid-area: logo;
    width: 30%;

    .logo {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .header-nav {
    grid-area: navigation;

    .nav-list {
      display: grid;
      grid-template-columns: repeat(5, auto);
      justify-items: start;
    }
  }

  .city-header {
    grid-area: city;
    width: 100%;
    justify-self: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .address-icon-header-wrap {
      max-width: 20%;

      .address-icon-header {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .city {
      border: none;
      background-color: $main-background-color;
      @include font-jost-700;
      color: $orange;
    }
  }

  .hamburger-menu {
    visibility: hidden;

    .nav-hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      top: 60px;
      right: -100%;
      font-size: $font-size-card-title;
      transition-duration: 0.25s;

      li {
        display: block;
        padding: 12px 24px;
        background-color: $main-background-color;
        transition-duration: 0.25s;

        .city-hamburger {
          border: none;
          background-color: $main-background-color;
          @include font-jost-700;
          color: $orange;
        }

        :hover {
          background-color: $history-section-background;
        }
      }
    }
  }
}

.page-nav-header-banner {
  margin-top: 5%;
  margin-left: 4.5%;
  display: grid;
  grid-template-columns: 1fr 5fr;

  .page-nav {
    max-height: 90%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: auto;
    @include font-jost-700;
    font-size: $font-size-regular;
    color: $font-light-brown;
  }

  .header-banner {
    display: grid;
    // grid-template-columns: 0.7fr 1.3fr;
    grid-template-columns: 1fr 1fr;

    .left-header-banner {
      display: grid;
      grid-template-rows: auto;
      align-items: center;

      .title {
        margin-top: 0px;
        margin-bottom: 0px;
        align-self: start;
        color: $almost-black;
        @include font-garamond-400;
        font-size: $font-size-big;
        line-height: 137.5%;
      }

      .appointment-form-link {
        margin-bottom: 20%;
        width: 35%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        @include font-jost-700;
        font-size: 1vw;
        border-radius: 2rem;
        background: $orange;
        box-shadow: 0px 4px 20px 0px $orange;
      }

      .social-links {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .social-link {
          width: 50%;

          .social-icon {
            width: 100%;
            height: 100%;
            max-width: 310px;
          }
        }
      }
    }
    .right-header-banner {
      display: grid;
      grid-template-columns: 0.5fr 1.5fr 1fr;
      grid-auto-rows: auto;
      justify-items: end;

      .header-banner-img-container1 {
        grid-row: 1/4;
        grid-column: 2/4;
        width: 93%;

        .header-banner-img1 {
          width: 100%;
        }
      }

      .header-banner-img-container2 {
        grid-row: 2/4;
        grid-column: 1/3;
        width: 70%;
        justify-self: center;

        .header-banner-img2 {
          width: 80%;
        }
      }

      .phone-link {
        grid-row: 3/4;
        grid-column: 3/4;
        align-self: center;
        margin-bottom: 40%;
        margin-right: 10%;
        width: 100%;
        color: #59443f;
        @include font-jost-700;
        font-size: 1.2vw;
      }
    }
  }
}

.dep-cards {
  margin: 8% 15% 8% 13%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: 34px;

  .dep-card {
    padding-left: 10px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    border-radius: 20px;
    background: #fff;
    box-shadow: 3px 3px 10px rgb(215, 213, 213);

    .dep-card-title {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      color: $font-brown;
      @include font-garamond-400;
      font-size: $font-size-card-title;
      line-height: 133.333%;
    }

    .dep-image {
      grid-row: 2 / 4;
      grid-column: 2 / 3;
      width: 90%;
      max-width: 100px;
      justify-self: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .dep-card-span {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      padding-bottom: 30%;
      color: #59443f;
      font-size: $font-size-smallest;
      @include font-jost-400;
      line-height: 100%;
    }
  }
}

.history-employees {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: $history-section-background;
  text-align: center;

  .history-section {
    margin: auto;

    .subtitle {
      padding-bottom: 40px;
      @include font-subtitle-h2;
      font-size: $font-size-h2;
    }

    p {
      margin: auto;
      padding-bottom: 30px;
      width: 40%;
      text-align: left;
      color: #59443f;
      @include font-jost-400;
      font-size: $font-size-regular;
      line-height: 150%;
    }
  }

  .employees {
    padding-top: 5%;

    .subtitle {
      padding-bottom: 40px;
      @include font-subtitle-h2;
      font-size: $font-size-h2;
    }

    .employees-slider {
      margin: auto;
      padding-bottom: 30px;
      max-width: 90%;
      display: grid;
      grid-template-columns: auto repeat(6, auto) auto;
      gap: 10px;

      .button-slider {
        border: none;
        width: 70%;
        background-color: $history-section-background;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .button-slider1 {
        justify-self: end;

        img {
          margin-right: -50%;
        }
      }

      .button-slider2 {
        justify-self: end;

        img {
          margin-left: -130%;
        }
      }

      .photo-link {
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.read-more {
  color: $orange;
  @include font-jost-700;
  font-size: $font-size-regular;
}

.inform-banner {
  //   padding-top: 10%;
  //   padding-bottom: 10%;
  //   margin: auto;
  //   width: 50%;
  //   position: relative;
  //   text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;

  .inform-banner-wrap {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    position: relative;

    #inform-subtitle {
      margin-bottom: 8%;
      color: $font-brown;
      @include font-garamond-700;
      font-size: $font-size-biggest;
      line-height: 76.389%;
    }

    .inform-p {
      padding-left: 5%;
      text-align: left;
      color: $almost-black;
      @include font-jost-400;
      font-size: 2.8vw;
      line-height: 150%;
    }

    .inform-img-container {
      width: 50%;
      margin: -10%;
      position: relative;
      left: 55%;
      margin-bottom: 10%;

      img {
        width: 100%;
      }
    }
  }
}

.pro-cards-section {
  margin-bottom: 10%;

  .subtitle {
    padding-bottom: 7%;
    text-align: center;
    @include font-subtitle-h2;
    font-size: $font-size-h2;
  }

  .pro-cards {
    width: 85vw;
    margin: 0% 12.5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 25vw));
    justify-content: center;
    gap: 40px;

    .pro-card {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: repeat(3, auto);
      gap: 5%;
      grid-template-areas:
        "title title"
        "img-container description";
      align-items: start;

      .pro-card-title {
        grid-area: title;
        font-size: $font-size-card-title;
        color: $font-brown;
        @include font-garamond-400;
        line-height: 133.333%;
      }

      .pro-img-container {
        grid-area: img-container;
        width: 5vw;

        img {
          width: 100%;
        }
      }

      .pro-card-description {
        grid-area: description;
      }
    }
  }
}

.description {
  color: $font-brown;
  font-size: $font-size-regular;
  @include font-jost-400;
  line-height: 150%;
}

.app-store-banner {
  padding: 10% 5% 5% 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  align-items: start;
  background-color: $orange;
  color: #fff;

  .app-store-banner-span {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: $font-size-card-title;
    @include font-jost-400;
    line-height: 66.667%;
  }
  .title-app-links {
    grid-row: 2/3;
    grid-column: 1/2;

    #app-store-banner-title {
      width: 110%;
      font-size: $font-size-big;
      @include font-garamond-400;
      line-height: 137.5%;
    }

    .app-store-links {
      width: 60%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      .app-store-link {
        width: 90%;

        .app-store-icon1 {
          width: 91%;
        }

        .app-store-icon2 {
          width: 100%;
        }
      }
    }
  }

  .app-store-pics {
    grid-row: 2/4;
    grid-column: 2/3;
    align-self: end;
    position: relative;
    width: 80%;

    .dog-img {
      margin-top: 15%;
      width: 80%;
      position: relative;
      right: 15%;
    }

    .phone-img {
      width: 65%;
      position: absolute;
      bottom: -6%;
      left: 35%;
    }
  }
}

.contacts-banner {
  margin: 10% 5% 5% 15%;

  .subtitle {
    margin-bottom: 5%;
    @include font-subtitle-h2;
    font-size: $font-size-h2;
  }

  .address-container-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "address1 map"
      "address2 map";
    // gap: 20px;

    .address-container-subtitle {
      margin-bottom: 5%;
      @include font-garamond-400;
      font-size: $font-size-card-title;
      line-height: 133.333%;
    }

    .address-container1 {
      grid-area: address1;
    }

    .address-container2 {
      grid-area: address2;
    }

    .map-link-container {
      grid-area: map;
      width: 100%;

      .map-link {
        display: block;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.address-container1 .description,
.address-container2 .description {
  font-size: $font-size-smallest;
}

.address-phone-hours {
  width: 60%;
  display: grid;
  justify-items: start;
  gap: 10px;
}

.address,
.phone,
.hours {
  display: grid;
  grid-auto-flow: column;
}

.address-icon,
.phone-icon,
.clock-icon {
  width: 60%;
}

footer {
  padding: 1% 7%;

  display: grid;
  grid-template-columns: 2fr 1fr;
  color: #fff;
  background-color: #59443f;
  @include font-jost-400;
  font-size: $font-size-smallest;

  .logo-and-nav-footer {
    display: grid;
    grid-template-rows: 1fr 2fr;
    // gap: 20px;

    .logo-container-footer {
      width: 30%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-auto-rows: min-content;
      grid-template-areas:
        "logo name"
        "logo subname";

      img {
        margin-right: 10%;
        grid-area: logo;
        width: 80%;
        align-self: center;
        justify-self: end;
      }

      .name {
        grid-area: name;
        @include font-garamond-700;
        font-size: $font-for-logo;
        justify-self: start;
        align-self: end;
      }

      .subname {
        grid-area: subname;
        line-height: 100%;
        align-self: start;
      }
    }

    nav {
      .footer-nav-list {
        width: 80%;
        margin-left: 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-auto-flow: dense;
        line-height: 150%;

        li:first-child {
          grid-column: 1/2;
          grid-row: span 4;
          margin-right: 25%;
        }

        li.second-col {
          grid-column: 2/3;
          grid-row: auto;
        }

        li.third-col {
          grid-column: 3/4;
        }
      }
    }
  }

  .social-and-apps {
    width: 80%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: min-content;

    .apps {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      .app-link-footer {
        width: 100%;

        .app-store-foot {
          width: 88%;
        }

        .google-play-foot {
          width: 100%;
        }
      }
    }

    .social-links-foot {
      display: flex;
      justify-content: space-between;

      .social-link-foot {
        width: 10%;

        img {
          width: 100%;
        }
      }
    }

    .creator-contacts {
      display: grid;
      grid-auto-rows: min-content;
      align-self: start;
    }

    .made_by {
      align-self: center;
    }
  }
}

// styles for burger menu:
.first-line {
  .hamburger-menu {
    #menu__toggle {
      display: none;
    }

    .menu__btn {
      background-color: #fff;
      display: flex;
      align-items: center;
      position: fixed;
      right: 20px;

      width: 6vw;
      height: auto;
      cursor: pointer;
      z-index: 1;

      span,
      span::before,
      span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 0.3em;
        background-color: $orange;

        transition-duration: 0.25s;
      }
      span::before {
        content: "";
        top: -10px;
      }
      span::after {
        content: "";
        top: 10px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .first-line {
    .logo-container-header {
      width: 10vw;
    }

    .header-nav {
      display: none;
    }
    .city-header {
      display: none;
    }

    .hamburger-menu {
      visibility: visible;
      #menu__toggle:checked {
        ~ .menu__btn {
          > span {
            transform: rotate(45deg);

            &::before {
              top: 0;
              transform: rotate(0);
            }

            &::after {
              top: 0;
              transform: rotate(90deg);
            }
          }
        }
        ~ .nav-hamburger {
          visibility: visible;
          right: 0;
        }
      }
    }
  }

  .page-nav-header-banner {
    margin-left: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    .page-nav {
      display: none;
    }

    .header-banner {
      grid-template-columns: 1.8fr 1.2fr;
      grid-template-rows: auto auto;

      .left-header-banner {
        align-items: center;
        justify-items: center;
        gap: 20px;

        .title {
          text-align: center;
          justify-self: center;
          align-self: center;
          font-size: $media-tablet-h1-font;
        }

        .appointment-form-link {
          margin-bottom: 0;
          padding: 0.8em 1em;
          height: auto;
          width: 35%;
          font-size: 2vw;
        }

        .social-links {
          justify-items: center;
        }
      }

      .right-header-banner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        .header-banner-img-container1 {
          display: none;
        }
        .header-banner-img-container2 {
          grid-column: 1/2;
          grid-row: 1/2;
          align-self: end;

          .header-banner-img2 {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }

        .phone-link {
          grid-column: 1/2;
          grid-row: 1/2;
          align-self: end;
          margin: 0;
          font-size: $media-tablet-regular-font;
        }
      }
    }
  }

  main {
    .dep-cards {
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
      margin: 5% 10%;
      gap: 15px;

      .dep-card {
        padding-left: 0.4em;
        padding-top: 0.3em;
        .dep-card-title {
          font-size: $media-tablet-cards-title-font;
        }
        .dep-image {
          width: 70%;
          max-width: 70px;
        }

        .dep-card-span {
          font-size: $media-tablet-smallest-font;
        }
      }
    }

    .history-employees {
      padding: 20px 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;

      .history-section {
        margin: 0px;
        .subtitle {
          padding-bottom: 20px;
          font-size: $media-tablet-h2-font;
        }

        p {
          width: 90%;
          font-size: $media-tablet-regular-font;
          text-align: justify;
        }
      }

      .employees {
        padding: 0% 0% 20px;

        .subtitle {
          font-size: $media-tablet-h2-font;
        }

        .employees-slider {
          max-width: 100%;
          grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
          justify-items: center;

          .photo-link {
            width: 90%;
          }

          .button-slider1,
          .button-slider2 {
            display: none;
          }
        }
      }
    }

    .inform-banner {
      margin: 20px 0% 40px;

      .inform-banner-wrap {
        margin: 0px auto;
        width: 50%;

        #inform-subtitle {
          font-size: $media-tablet-cards-biggest-font;
        }

        .inform-img-container {
          width: 40%;
          margin: 0%;
          position: absolute;
          top: 20%;
          left: 80%;
          margin-bottom: 0%;
        }
      }
    }

    .pro-cards-section {
      margin: 30px 0%;

      .subtitle {
        text-align: left;
        padding: 20px;
        font-size: $media-tablet-h2-font;
      }

      .pro-cards {
        margin: 10px 20px 20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .pro-card {
          gap: 1em;

          .pro-card-title {
            font-size: clamp(2rem, 2vw, 4rem);
          }
          .description {
            font-size: $media-tablet-regular-font;
            text-align: justify;
          }
        }
      }
    }

    .app-store-banner {
      padding: 20px 30px;
      gap: 10px;

      .app-store-banner-span {
        font-size: $media-tablet-cards-title-font;
      }

      .title-app-links {
        #app-store-banner-title {
          width: 100%;
          font-size: $media-tablet-h1-font;
        }
        .app-store-links {
          width: 90%;
        }
      }

      .app-store-pics {
        margin-top: 0%;
        width: 60%;
        align-self: start;
        justify-self: center;

        .dog-img {
          display: none;
          margin-top: 0%;
          width: 70%;
          bottom: 3em;
          right: 10%;
        }

        .phone-img {
          position: static;
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
    }

    .contacts-banner {
      margin: 20px;

      .subtitle {
        font-size: $media-tablet-h2-font;
      }

      .address-container-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "address1 address2"
          "map map";
        justify-items: center;
        gap: 15px;

        .map-link-container {
          width: 60%;
          justify-self: center;
        }

        .address-container1,
        .address-container2 {
          width: 100%;
          display: grid;
          grid-template-rows: auto auto;
          align-content: stretch;
          justify-content: start;

          .address-container-subtitle {
            font-size: $media-tablet-address-subtitle-font;
          }

          .address-container2 {
            .address-phone-hours {
              align-self: end;
            }
          }

          .address-phone-hours {
            width: 100%;

            .description {
              font-size: $media-tablet-regular-font;
            }

            .address-icon,
            .phone-icon,
            .clock-icon {
              width: 80%;
            }
          }
        }
      }
    }
  }

  footer {
    padding: 10px;
    grid-template-columns: 2fr 1fr;
    font-size: clamp(1.2rem, 1.5vw, 4rem);

    .logo-and-nav-footer {
      gap: 10px;
      .logo-container-footer {
        width: 80%;

        .name {
          font-size: $media-tablet-h2-font;
        }
      }

      nav {
        .footer-nav-list {
          width: 100%;
          margin-left: 0px;

          li:first-child {
            margin-right: 10px;
          }
          li {
            text-align: center;
          }
        }
      }
    }

    .social-and-apps {
      width: 100%;

      .apps {
        .app-link-footer {
          .app-store-foot {
            width: 90%;
          }
          .google-play-foot {
            width: 100%;
          }
        }
      }

      .social-links-foot {
        .social-link-foot {
          width: 15%;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  footer {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 540px) {
  .first-line {
    .hamburger-menu {
      #menu__toggle {
      }

      .menu__btn {
        span,
        span::before,
        span::after {
          display: block;
          position: absolute;

          width: 100%;
          height: 3px;
          background-color: $orange;

          transition-duration: 0.25s;
        }
        span::before {
          content: "";
          top: -8px;
        }
        span::after {
          content: "";
          top: 8px;
        }
      }
    }
  }

  .page-nav-header-banner {
    .header-banner {
      grid-template-columns: 1fr;
      gap: 10px;

      .left-header-banner {
        .appointment-form-link {
          font-size: 3vw;
        }
      }

      .right-header-banner {
        .header-banner-img-container2 {
          display: none;
        }
        .phone-link {
          text-align: center;
        }
      }
    }
  }

  main {
    .dep-cards {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      .dep-card {
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: dense;
        .dep-image {
          grid-row: 1/3;
          width: 40%;
        }
        .dep-card-span {
          grid-row: 2/3;
        }
      }
    }

    .history-employees {
      padding: 10px 10px;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;

      .history-section {
        p {
          font-size: 20px;
        }
      }

      .employees {
        .employees-slider {
          grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
          gap: 5px;
          .photo-link {
            width: 90%;
          }
        }
      }
    }
  }
}
