* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #fffefe;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
}

.first-line {
  margin: 20px 5%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "logo navigation city";
  align-items: center;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(1rem, 1.3vw, 2.5rem);
  color: #c3b9b5;
}
.first-line .logo-container-header {
  grid-area: logo;
  width: 30%;
}
.first-line .logo-container-header .logo {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.first-line .header-nav {
  grid-area: navigation;
}
.first-line .header-nav .nav-list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-items: start;
}
.first-line .city-header {
  grid-area: city;
  width: 100%;
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.first-line .city-header .address-icon-header-wrap {
  max-width: 20%;
}
.first-line .city-header .address-icon-header-wrap .address-icon-header {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.first-line .city-header .city {
  border: none;
  background-color: #fffefe;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  color: #ffc59e;
}
.first-line .hamburger-menu {
  visibility: hidden;
}
.first-line .hamburger-menu .nav-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 60px;
  right: -100%;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  transition-duration: 0.25s;
}
.first-line .hamburger-menu .nav-hamburger li {
  display: block;
  padding: 12px 24px;
  background-color: #fffefe;
  transition-duration: 0.25s;
}
.first-line .hamburger-menu .nav-hamburger li .city-hamburger {
  border: none;
  background-color: #fffefe;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  color: #ffc59e;
}
.first-line .hamburger-menu .nav-hamburger li :hover {
  background-color: #fbf8f8;
}

.page-nav-header-banner {
  margin-top: 5%;
  margin-left: 4.5%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.page-nav-header-banner .page-nav {
  max-height: 90%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: auto;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(1rem, 1.3vw, 2.5rem);
  color: #c3b9b5;
}
.page-nav-header-banner .header-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.page-nav-header-banner .header-banner .left-header-banner {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
}
.page-nav-header-banner .header-banner .left-header-banner .title {
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: start;
  color: #080606;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(2.5rem, 5vw, 8rem);
  line-height: 137.5%;
}
.page-nav-header-banner .header-banner .left-header-banner .appointment-form-link {
  margin-bottom: 20%;
  width: 35%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1vw;
  border-radius: 2rem;
  background: #ffc59e;
  box-shadow: 0px 4px 20px 0px #ffc59e;
}
.page-nav-header-banner .header-banner .left-header-banner .social-links {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.page-nav-header-banner .header-banner .left-header-banner .social-links .social-link {
  width: 50%;
}
.page-nav-header-banner .header-banner .left-header-banner .social-links .social-link .social-icon {
  width: 100%;
  height: 100%;
  max-width: 310px;
}
.page-nav-header-banner .header-banner .right-header-banner {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  grid-auto-rows: auto;
  justify-items: end;
}
.page-nav-header-banner .header-banner .right-header-banner .header-banner-img-container1 {
  grid-row: 1/4;
  grid-column: 2/4;
  width: 93%;
}
.page-nav-header-banner .header-banner .right-header-banner .header-banner-img-container1 .header-banner-img1 {
  width: 100%;
}
.page-nav-header-banner .header-banner .right-header-banner .header-banner-img-container2 {
  grid-row: 2/4;
  grid-column: 1/3;
  width: 70%;
  justify-self: center;
}
.page-nav-header-banner .header-banner .right-header-banner .header-banner-img-container2 .header-banner-img2 {
  width: 80%;
}
.page-nav-header-banner .header-banner .right-header-banner .phone-link {
  grid-row: 3/4;
  grid-column: 3/4;
  align-self: center;
  margin-bottom: 40%;
  margin-right: 10%;
  width: 100%;
  color: #59443f;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1.2vw;
}

.dep-cards {
  margin: 8% 15% 8% 13%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: 34px;
}
.dep-cards .dep-card {
  padding-left: 10px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  border-radius: 20px;
  background: #fff;
  box-shadow: 3px 3px 10px rgb(215, 213, 213);
}
.dep-cards .dep-card .dep-card-title {
  grid-row: 1/2;
  grid-column: 1/3;
  color: #59443f;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  line-height: 133.333%;
}
.dep-cards .dep-card .dep-image {
  grid-row: 2/4;
  grid-column: 2/3;
  width: 90%;
  max-width: 100px;
  justify-self: center;
}
.dep-cards .dep-card .dep-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.dep-cards .dep-card .dep-card-span {
  grid-row: 3/4;
  grid-column: 1/2;
  padding-bottom: 30%;
  color: #59443f;
  font-size: clamp(0.5rem, 0.9vw, 2rem);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 100%;
}

.history-employees {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #fbf8f8;
  text-align: center;
}
.history-employees .history-section {
  margin: auto;
}
.history-employees .history-section .subtitle {
  padding-bottom: 40px;
  color: #080606;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 100%;
  font-size: clamp(2rem, 3vw, 4rem);
}
.history-employees .history-section p {
  margin: auto;
  padding-bottom: 30px;
  width: 40%;
  text-align: left;
  color: #59443f;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(1rem, 1.3vw, 2.5rem);
  line-height: 150%;
}
.history-employees .employees {
  padding-top: 5%;
}
.history-employees .employees .subtitle {
  padding-bottom: 40px;
  color: #080606;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 100%;
  font-size: clamp(2rem, 3vw, 4rem);
}
.history-employees .employees .employees-slider {
  margin: auto;
  padding-bottom: 30px;
  max-width: 90%;
  display: grid;
  grid-template-columns: auto repeat(6, auto) auto;
  gap: 10px;
}
.history-employees .employees .employees-slider .button-slider {
  border: none;
  width: 70%;
  background-color: #fbf8f8;
}
.history-employees .employees .employees-slider .button-slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.history-employees .employees .employees-slider .button-slider1 {
  justify-self: end;
}
.history-employees .employees .employees-slider .button-slider1 img {
  margin-right: -50%;
}
.history-employees .employees .employees-slider .button-slider2 {
  justify-self: end;
}
.history-employees .employees .employees-slider .button-slider2 img {
  margin-left: -130%;
}
.history-employees .employees .employees-slider .photo-link {
  width: 100%;
}
.history-employees .employees .employees-slider .photo-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.read-more {
  color: #ffc59e;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(1rem, 1.3vw, 2.5rem);
}

.inform-banner {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}
.inform-banner .inform-banner-wrap {
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  position: relative;
}
.inform-banner .inform-banner-wrap #inform-subtitle {
  margin-bottom: 8%;
  color: #59443f;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(5rem, 8vw, 10rem);
  line-height: 76.389%;
}
.inform-banner .inform-banner-wrap .inform-p {
  padding-left: 5%;
  text-align: left;
  color: #080606;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 2.8vw;
  line-height: 150%;
}
.inform-banner .inform-banner-wrap .inform-img-container {
  width: 50%;
  margin: -10%;
  position: relative;
  left: 55%;
  margin-bottom: 10%;
}
.inform-banner .inform-banner-wrap .inform-img-container img {
  width: 100%;
}

.pro-cards-section {
  margin-bottom: 10%;
}
.pro-cards-section .subtitle {
  padding-bottom: 7%;
  text-align: center;
  color: #080606;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 100%;
  font-size: clamp(2rem, 3vw, 4rem);
}
.pro-cards-section .pro-cards {
  width: 85vw;
  margin: 0% 12.5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 25vw));
  justify-content: center;
  gap: 40px;
}
.pro-cards-section .pro-cards .pro-card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(3, auto);
  gap: 5%;
  grid-template-areas: "title title" "img-container description";
  align-items: start;
}
.pro-cards-section .pro-cards .pro-card .pro-card-title {
  grid-area: title;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  color: #59443f;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 133.333%;
}
.pro-cards-section .pro-cards .pro-card .pro-img-container {
  grid-area: img-container;
  width: 5vw;
}
.pro-cards-section .pro-cards .pro-card .pro-img-container img {
  width: 100%;
}
.pro-cards-section .pro-cards .pro-card .pro-card-description {
  grid-area: description;
}

.description {
  color: #59443f;
  font-size: clamp(1rem, 1.3vw, 2.5rem);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 150%;
}

.app-store-banner {
  padding: 10% 5% 5% 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  align-items: start;
  background-color: #ffc59e;
  color: #fff;
}
.app-store-banner .app-store-banner-span {
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 66.667%;
}
.app-store-banner .title-app-links {
  grid-row: 2/3;
  grid-column: 1/2;
}
.app-store-banner .title-app-links #app-store-banner-title {
  width: 110%;
  font-size: clamp(2.5rem, 5vw, 8rem);
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 137.5%;
}
.app-store-banner .title-app-links .app-store-links {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.app-store-banner .title-app-links .app-store-links .app-store-link {
  width: 90%;
}
.app-store-banner .title-app-links .app-store-links .app-store-link .app-store-icon1 {
  width: 91%;
}
.app-store-banner .title-app-links .app-store-links .app-store-link .app-store-icon2 {
  width: 100%;
}
.app-store-banner .app-store-pics {
  grid-row: 2/4;
  grid-column: 2/3;
  align-self: end;
  position: relative;
  width: 80%;
}
.app-store-banner .app-store-pics .dog-img {
  margin-top: 15%;
  width: 80%;
  position: relative;
  right: 15%;
}
.app-store-banner .app-store-pics .phone-img {
  width: 65%;
  position: absolute;
  bottom: -6%;
  left: 35%;
}

.contacts-banner {
  margin: 10% 5% 5% 15%;
}
.contacts-banner .subtitle {
  margin-bottom: 5%;
  color: #080606;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 100%;
  font-size: clamp(2rem, 3vw, 4rem);
}
.contacts-banner .address-container-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "address1 map" "address2 map";
}
.contacts-banner .address-container-wrapper .address-container-subtitle {
  margin-bottom: 5%;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  line-height: 133.333%;
}
.contacts-banner .address-container-wrapper .address-container1 {
  grid-area: address1;
}
.contacts-banner .address-container-wrapper .address-container2 {
  grid-area: address2;
}
.contacts-banner .address-container-wrapper .map-link-container {
  grid-area: map;
  width: 100%;
}
.contacts-banner .address-container-wrapper .map-link-container .map-link {
  display: block;
  width: 100%;
}
.contacts-banner .address-container-wrapper .map-link-container .map-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.address-container1 .description,
.address-container2 .description {
  font-size: clamp(0.5rem, 0.9vw, 2rem);
}

.address-phone-hours {
  width: 60%;
  display: grid;
  justify-items: start;
  gap: 10px;
}

.address,
.phone,
.hours {
  display: grid;
  grid-auto-flow: column;
}

.address-icon,
.phone-icon,
.clock-icon {
  width: 60%;
}

footer {
  padding: 1% 7%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: #fff;
  background-color: #59443f;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(0.5rem, 0.9vw, 2rem);
}
footer .logo-and-nav-footer {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
footer .logo-and-nav-footer .logo-container-footer {
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: min-content;
  grid-template-areas: "logo name" "logo subname";
}
footer .logo-and-nav-footer .logo-container-footer img {
  margin-right: 10%;
  grid-area: logo;
  width: 80%;
  align-self: center;
  justify-self: end;
}
footer .logo-and-nav-footer .logo-container-footer .name {
  grid-area: name;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  font-feature-settings: "liga" off, "clig" off;
  font-size: clamp(1rem, 2.5vw, 3rem);
  justify-self: start;
  align-self: end;
}
footer .logo-and-nav-footer .logo-container-footer .subname {
  grid-area: subname;
  line-height: 100%;
  align-self: start;
}
footer .logo-and-nav-footer nav .footer-nav-list {
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  line-height: 150%;
}
footer .logo-and-nav-footer nav .footer-nav-list li:first-child {
  grid-column: 1/2;
  grid-row: span 4;
  margin-right: 25%;
}
footer .logo-and-nav-footer nav .footer-nav-list li.second-col {
  grid-column: 2/3;
  grid-row: auto;
}
footer .logo-and-nav-footer nav .footer-nav-list li.third-col {
  grid-column: 3/4;
}
footer .social-and-apps {
  width: 80%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: min-content;
}
footer .social-and-apps .apps {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
footer .social-and-apps .apps .app-link-footer {
  width: 100%;
}
footer .social-and-apps .apps .app-link-footer .app-store-foot {
  width: 88%;
}
footer .social-and-apps .apps .app-link-footer .google-play-foot {
  width: 100%;
}
footer .social-and-apps .social-links-foot {
  display: flex;
  justify-content: space-between;
}
footer .social-and-apps .social-links-foot .social-link-foot {
  width: 10%;
}
footer .social-and-apps .social-links-foot .social-link-foot img {
  width: 100%;
}
footer .social-and-apps .creator-contacts {
  display: grid;
  grid-auto-rows: min-content;
  align-self: start;
}
footer .social-and-apps .made_by {
  align-self: center;
}

.first-line .hamburger-menu #menu__toggle {
  display: none;
}
.first-line .hamburger-menu .menu__btn {
  background-color: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  right: 20px;
  width: 6vw;
  height: auto;
  cursor: pointer;
  z-index: 1;
}
.first-line .hamburger-menu .menu__btn span,
.first-line .hamburger-menu .menu__btn span::before,
.first-line .hamburger-menu .menu__btn span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3em;
  background-color: #ffc59e;
  transition-duration: 0.25s;
}
.first-line .hamburger-menu .menu__btn span::before {
  content: "";
  top: -10px;
}
.first-line .hamburger-menu .menu__btn span::after {
  content: "";
  top: 10px;
}

@media screen and (max-width: 900px) {
  .first-line .logo-container-header {
    width: 10vw;
  }
  .first-line .header-nav {
    display: none;
  }
  .first-line .city-header {
    display: none;
  }
  .first-line .hamburger-menu {
    visibility: visible;
  }
  .first-line .hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  .first-line .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  .first-line .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .first-line .hamburger-menu #menu__toggle:checked ~ .nav-hamburger {
    visibility: visible;
    right: 0;
  }
  .page-nav-header-banner {
    margin-left: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .page-nav-header-banner .page-nav {
    display: none;
  }
  .page-nav-header-banner .header-banner {
    grid-template-columns: 1.8fr 1.2fr;
    grid-template-rows: auto auto;
  }
  .page-nav-header-banner .header-banner .left-header-banner {
    align-items: center;
    justify-items: center;
    gap: 20px;
  }
  .page-nav-header-banner .header-banner .left-header-banner .title {
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: clamp(2rem, 6vw, 6rem);
  }
  .page-nav-header-banner .header-banner .left-header-banner .appointment-form-link {
    margin-bottom: 0;
    padding: 0.8em 1em;
    height: auto;
    width: 35%;
    font-size: 2vw;
  }
  .page-nav-header-banner .header-banner .left-header-banner .social-links {
    justify-items: center;
  }
  .page-nav-header-banner .header-banner .right-header-banner {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .page-nav-header-banner .header-banner .right-header-banner .header-banner-img-container1 {
    display: none;
  }
  .page-nav-header-banner .header-banner .right-header-banner .header-banner-img-container2 {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
  }
  .page-nav-header-banner .header-banner .right-header-banner .header-banner-img-container2 .header-banner-img2 {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .page-nav-header-banner .header-banner .right-header-banner .phone-link {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
    margin: 0;
    font-size: clamp(1rem, 2.5vw, 3rem);
  }
  main .dep-cards {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    margin: 5% 10%;
    gap: 15px;
  }
  main .dep-cards .dep-card {
    padding-left: 0.4em;
    padding-top: 0.3em;
  }
  main .dep-cards .dep-card .dep-card-title {
    font-size: clamp(1.4rem, 1.4vw, 3rem);
  }
  main .dep-cards .dep-card .dep-image {
    width: 70%;
    max-width: 70px;
  }
  main .dep-cards .dep-card .dep-card-span {
    font-size: clamp(1rem, 1vw, 2rem);
  }
  main .history-employees {
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  main .history-employees .history-section {
    margin: 0px;
  }
  main .history-employees .history-section .subtitle {
    padding-bottom: 20px;
    font-size: clamp(2.2rem, 3.5vw, 5rem);
  }
  main .history-employees .history-section p {
    width: 90%;
    font-size: clamp(1rem, 2.5vw, 3rem);
    text-align: justify;
  }
  main .history-employees .employees {
    padding: 0% 0% 20px;
  }
  main .history-employees .employees .subtitle {
    font-size: clamp(2.2rem, 3.5vw, 5rem);
  }
  main .history-employees .employees .employees-slider {
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    justify-items: center;
  }
  main .history-employees .employees .employees-slider .photo-link {
    width: 90%;
  }
  main .history-employees .employees .employees-slider .button-slider1,
  main .history-employees .employees .employees-slider .button-slider2 {
    display: none;
  }
  main .inform-banner {
    margin: 20px 0% 40px;
  }
  main .inform-banner .inform-banner-wrap {
    margin: 0px auto;
    width: 50%;
  }
  main .inform-banner .inform-banner-wrap #inform-subtitle {
    font-size: clamp(3rem, 7vw, 7rem);
  }
  main .inform-banner .inform-banner-wrap .inform-img-container {
    width: 40%;
    margin: 0%;
    position: absolute;
    top: 20%;
    left: 80%;
    margin-bottom: 0%;
  }
  main .pro-cards-section {
    margin: 30px 0%;
  }
  main .pro-cards-section .subtitle {
    text-align: left;
    padding: 20px;
    font-size: clamp(2.2rem, 3.5vw, 5rem);
  }
  main .pro-cards-section .pro-cards {
    margin: 10px 20px 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  main .pro-cards-section .pro-cards .pro-card {
    gap: 1em;
  }
  main .pro-cards-section .pro-cards .pro-card .pro-card-title {
    font-size: clamp(2rem, 2vw, 4rem);
  }
  main .pro-cards-section .pro-cards .pro-card .description {
    font-size: clamp(1rem, 2.5vw, 3rem);
    text-align: justify;
  }
  main .app-store-banner {
    padding: 20px 30px;
    gap: 10px;
  }
  main .app-store-banner .app-store-banner-span {
    font-size: clamp(1.4rem, 1.4vw, 3rem);
  }
  main .app-store-banner .title-app-links #app-store-banner-title {
    width: 100%;
    font-size: clamp(2rem, 6vw, 6rem);
  }
  main .app-store-banner .title-app-links .app-store-links {
    width: 90%;
  }
  main .app-store-banner .app-store-pics {
    margin-top: 0%;
    width: 60%;
    align-self: start;
    justify-self: center;
  }
  main .app-store-banner .app-store-pics .dog-img {
    display: none;
    margin-top: 0%;
    width: 70%;
    bottom: 3em;
    right: 10%;
  }
  main .app-store-banner .app-store-pics .phone-img {
    position: static;
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  main .contacts-banner {
    margin: 20px;
  }
  main .contacts-banner .subtitle {
    font-size: clamp(2.2rem, 3.5vw, 5rem);
  }
  main .contacts-banner .address-container-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "address1 address2" "map map";
    justify-items: center;
    gap: 15px;
  }
  main .contacts-banner .address-container-wrapper .map-link-container {
    width: 60%;
    justify-self: center;
  }
  main .contacts-banner .address-container-wrapper .address-container1,
  main .contacts-banner .address-container-wrapper .address-container2 {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    align-content: stretch;
    justify-content: start;
  }
  main .contacts-banner .address-container-wrapper .address-container1 .address-container-subtitle,
  main .contacts-banner .address-container-wrapper .address-container2 .address-container-subtitle {
    font-size: clamp(1.3rem, 3.2vw, 4rem);
  }
  main .contacts-banner .address-container-wrapper .address-container1 .address-container2 .address-phone-hours,
  main .contacts-banner .address-container-wrapper .address-container2 .address-container2 .address-phone-hours {
    align-self: end;
  }
  main .contacts-banner .address-container-wrapper .address-container1 .address-phone-hours,
  main .contacts-banner .address-container-wrapper .address-container2 .address-phone-hours {
    width: 100%;
  }
  main .contacts-banner .address-container-wrapper .address-container1 .address-phone-hours .description,
  main .contacts-banner .address-container-wrapper .address-container2 .address-phone-hours .description {
    font-size: clamp(1rem, 2.5vw, 3rem);
  }
  main .contacts-banner .address-container-wrapper .address-container1 .address-phone-hours .address-icon,
  main .contacts-banner .address-container-wrapper .address-container1 .address-phone-hours .phone-icon,
  main .contacts-banner .address-container-wrapper .address-container1 .address-phone-hours .clock-icon,
  main .contacts-banner .address-container-wrapper .address-container2 .address-phone-hours .address-icon,
  main .contacts-banner .address-container-wrapper .address-container2 .address-phone-hours .phone-icon,
  main .contacts-banner .address-container-wrapper .address-container2 .address-phone-hours .clock-icon {
    width: 80%;
  }
  footer {
    padding: 10px;
    grid-template-columns: 2fr 1fr;
    font-size: clamp(1.2rem, 1.5vw, 4rem);
  }
  footer .logo-and-nav-footer {
    gap: 10px;
  }
  footer .logo-and-nav-footer .logo-container-footer {
    width: 80%;
  }
  footer .logo-and-nav-footer .logo-container-footer .name {
    font-size: clamp(2.2rem, 3.5vw, 5rem);
  }
  footer .logo-and-nav-footer nav .footer-nav-list {
    width: 100%;
    margin-left: 0px;
  }
  footer .logo-and-nav-footer nav .footer-nav-list li:first-child {
    margin-right: 10px;
  }
  footer .logo-and-nav-footer nav .footer-nav-list li {
    text-align: center;
  }
  footer .social-and-apps {
    width: 100%;
  }
  footer .social-and-apps .apps .app-link-footer .app-store-foot {
    width: 90%;
  }
  footer .social-and-apps .apps .app-link-footer .google-play-foot {
    width: 100%;
  }
  footer .social-and-apps .social-links-foot .social-link-foot {
    width: 15%;
  }
}
@media screen and (max-width: 700px) {
  footer {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 540px) {
  .first-line .hamburger-menu .menu__btn span,
  .first-line .hamburger-menu .menu__btn span::before,
  .first-line .hamburger-menu .menu__btn span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffc59e;
    transition-duration: 0.25s;
  }
  .first-line .hamburger-menu .menu__btn span::before {
    content: "";
    top: -8px;
  }
  .first-line .hamburger-menu .menu__btn span::after {
    content: "";
    top: 8px;
  }
  .page-nav-header-banner .header-banner {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .page-nav-header-banner .header-banner .left-header-banner .appointment-form-link {
    font-size: 3vw;
  }
  .page-nav-header-banner .header-banner .right-header-banner .header-banner-img-container2 {
    display: none;
  }
  .page-nav-header-banner .header-banner .right-header-banner .phone-link {
    text-align: center;
  }
  main .dep-cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  main .dep-cards .dep-card {
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: dense;
  }
  main .dep-cards .dep-card .dep-image {
    grid-row: 1/3;
    width: 40%;
  }
  main .dep-cards .dep-card .dep-card-span {
    grid-row: 2/3;
  }
  main .history-employees {
    padding: 10px 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  main .history-employees .history-section p {
    font-size: 20px;
  }
  main .history-employees .employees .employees-slider {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 5px;
  }
  main .history-employees .employees .employees-slider .photo-link {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */