$font-brown: #59443f;
$font-light-brown: #c3b9b5;
$orange: #ffc59e;
$almost-black: #080606;

$main-background-color: #fffefe;
$history-section-background: #fbf8f8;

$font-size-regular: clamp(1rem, 1.3vw, 2.5rem);
$font-size-big: clamp(2.5rem, 5vw, 8rem);
$font-size-card-title: clamp(1.5rem, 1.5vw, 3rem);
$font-size-smallest: clamp(0.5rem, 0.9vw, 2rem);
$font-size-h2: clamp(2rem, 3vw, 4rem);
$font-size-biggest: clamp(5rem, 8vw, 10rem);
$font-for-logo: clamp(1rem, 2.5vw, 3rem);
