@font-face {
  font-family: "Intro";
  src: url("../fonts/intro.woff2") format("woff2"),
    url("../fonts/intro.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  max-width: 1540px;
} */

a {
  text-decoration: none;
  color: #5222d0;
}

ul {
  list-style: none;
}

h1,
h2,
.btn {
  text-transform: uppercase;
  font-family: "Intro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main__description,
.nav-list__item-link,
.benefit__description,
.subscription-form__input::placeholder {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
  /* font-size: 1.4vw; */
  font-size: clamp(1rem, 1.4vw, 2rem);
  line-height: 160%;
}

.header {
  margin: 6.3% auto 0;
  width: 89.6%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 15.6%;
}

.logo__pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn {
  border: none;
  border-radius: 100px;
  background-color: #5222d0;
  color: #ffffff;
  font-size: 0.9vw;
  line-height: normal;
}

.header__basket-btn {
  width: 9%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.3%;
}

.basket-btn__icon {
  padding-left: 5%;
  padding-bottom: 5%;
}

.main,
.footer {
  margin-left: 8.75%;
  /* border: 1px solid black; */
}

.main {
  display: grid;
  grid-template-columns: 1.1fr 1.9fr;
  grid-template-rows: 2fr 0.8fr 2.2fr;
}

.main__title {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 0;
  align-self: end;
  font-size: 4.1vw;
  line-height: 120%;
}

.main__description {
  grid-column: 1/2;
  grid-row: 2/3;
}

.main__buy-btn-container {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 56.1%;
}

.buy-btn-container__buy-btn {
  width: 100%;
  padding: 25px 0 20px;
  display: flex;
  justify-content: center;
  font-size: 2.3vw;
}

.buy-btn__icon {
  width: 16%;
  padding-left: 3%;
}

.main__main-img-container {
  grid-column: 2/3;
  grid-row: 1 / span 3;
  justify-self: end;
}

.main-img-container__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer {
  width: 45%;
  min-width: 400px;
  margin-top: -7%;
}

.nav__nav-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* special styles for features.hml */
.features-header {
  margin-bottom: 20px;
}

.features-main {
  display: block;
  margin-bottom: 40px;
  width: 86%;
}

.features-main .main__title {
  margin-bottom: 30px;
}

.main__benefits {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-template-rows: auto;
  gap: 40px 70px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.benefits__benefit {
  width: 30%;
  display: grid;
  gap: 10px;
}

.benefits__benefit_with-pic {
  grid-template-rows: 1.6fr 0.2fr 0.5fr;
}

.benefit__img-container {
  width: 100%;
  background: linear-gradient(#ec615b 85%, #fff 15%);
  text-align: center;
}

.benefit__img {
  height: 100%;
  width: 100%;
}

.benefit__title {
  align-self: end;
  font-size: 2vw;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}

.benefits__benefit_without-pic {
  grid-template-rows: 1fr 2.5fr;
}

.benefits__subscription {
  padding-left: 20px;
  width: 30%;
  display: grid;
  grid-template-rows: 1fr 1fr 1.5fr;
  align-items: end;
  gap: 10px;
  background-color: #ec615b;
}

.subscription__title {
  color: #fff;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}

.subscription-form__input {
  width: 90%;
  padding: 3%;
  align-self: start;
}

.subscription__btn {
  width: 45%;
  padding: 4% 0;
  align-self: center;
}

.features-footer {
  margin-top: 70px;
  margin-bottom: 70px;
  /* width: 100%; */
}

.features-footer a {
  color: #000;
}
